.navbar{
    color: white;
}
.centerWords{
    float:inherit;
    margin-right: 30vw;
    margin-left: 20vw;
    font-size: 25px;
    color: white;
    align-content: ;
}

.center{
    color: white;
    float:inherit;
    margin-left: 25vw;
    margin-right: 25vw;
}

.middleimage{
    margin-left: 20vw;
}

.center {
    display: block;
    margin-left: 40vw;
    margin-right: 30px;
    width: 20%;
    margin-top: 20vh;
    align-content: center;
  }

  .navBar{
      color:white;
      margin-top: 0px;
  }

  .logoTable{
      color: white;
      border: white;
  }

  .logoTable{
      margin-left: auto;
      text-align: center;
      padding: 15px;
      background-color: white;
      color: black;
      }

      .button1{
        margin-left: 50vw;
        margin-right: auto;  
        background-color: orange;
        color: white;
      }